{% extends "layout.njk" %}
{% block title %}Train{% endblock %}
{% block main %}
    <center>
        <form action="/train" method="post">
            <button class="button-89" type="submit">Train</button>
        </form>
    </center>
{% endblock %}